{% extends "base.html" %}

{% block content %}
<h1>Экспонаты</h1>
{% for item in exhibits%}
<div class="col-md6 border rounded">
    <h2>{{item.title}}</h2>
    <div>
        <img src="static/img/{{ item.image }}" width="200" height="200" alt="здесь должна была быть картинка, но не нашлась">
    </div>
    <div>
        Дата написания - {{item.created_date}}
    </div>
    {% if current_user.is_authenticated %}
    <div>
        <a href="/exhibit/{{ item.id }}" class="btn btn-warning">
            Подробнее
        </a>
    </div>
{% endif %}
</div>
{% endfor %}
{% endblock %}